@import "tailwindcss";
@import "tw-animate-css";
:root {
    --radius: 0.5rem;
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2178 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2178 0 0);
    --primary: oklch(0.5413 0.2466 293.0090);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9653 0.0069 247.8959);
    --secondary-foreground: oklch(0.3485 0 0);
    --muted: oklch(0.9653 0.0069 247.8959);
    --muted-foreground: oklch(0.4676 0 0);
    --accent: oklch(0.9653 0.0069 247.8959);
    --accent-foreground: oklch(0.5413 0.2466 293.0090);
    --destructive: oklch(0.5771 0.2152 27.3250);
    --border: oklch(0.9067 0 0);
    --input: oklch(0.9653 0.0069 247.8959);
    --ring: oklch(0.7090 0.1592 293.5412);
    --chart-1: oklch(0.5413 0.2466 293.0090);
    --chart-2: oklch(0.5854 0.2041 277.1173);
    --chart-3: oklch(0.6559 0.2118 354.3084);
    --chart-4: oklch(0.7686 0.1647 70.0804);
    --chart-5: oklch(0.7227 0.1920 149.5793);
    --radius: 0rem;
    --sidebar: oklch(1.0000 0 0);
    --sidebar-foreground: oklch(0.2178 0 0);
    --sidebar-primary: oklch(0.5413 0.2466 293.0090);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9653 0.0069 247.8959);
    --sidebar-accent-foreground: oklch(0.5413 0.2466 293.0090);
    --sidebar-border: oklch(0.9067 0 0);
    --sidebar-ring: oklch(0.7090 0.1592 293.5412);
    --destructive-foreground: oklch(1.0000 0 0);
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.05;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0;
    --shadow-offset-x: 0;
    --shadow-offset-y: 0.125rem;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.03);
    --shadow-xs: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.03);
    --shadow-sm: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.13);
    --tracking-normal: normal;
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.2178 0 0);
}

@custom-variant dark (&:is(.dark *));

.dark {
    --background: oklch(0.2393 0 0);
    --foreground: oklch(0.9067 0 0);
    --card: oklch(0.2393 0 0);
    --card-foreground: oklch(0.9067 0 0);
    --popover: oklch(0.2393 0 0);
    --popover-foreground: oklch(0.9067 0 0);
    --primary: oklch(0.6056 0.2189 292.7172);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2931 0 0);
    --secondary-foreground: oklch(0.7572 0 0);
    --muted: oklch(0.2931 0 0);
    --muted-foreground: oklch(0.6534 0 0);
    --accent: oklch(0.2931 0 0);
    --accent-foreground: oklch(0.7090 0.1592 293.5412);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.2931 0 0);
    --ring: oklch(0.7090 0.1592 293.5412);
    --chart-1: oklch(0.6056 0.2189 292.7172);
    --chart-2: oklch(0.5854 0.2041 277.1173);
    --chart-3: oklch(0.6559 0.2118 354.3084);
    --chart-4: oklch(0.7686 0.1647 70.0804);
    --chart-5: oklch(0.7227 0.1920 149.5793);
    --sidebar: oklch(0.2393 0 0);
    --sidebar-foreground: oklch(0.9067 0 0);
    --sidebar-primary: oklch(0.6056 0.2189 292.7172);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.2931 0 0);
    --sidebar-accent-foreground: oklch(0.7090 0.1592 293.5412);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.7090 0.1592 293.5412);
    --destructive-foreground: oklch(1.0000 0 0);
    --radius: 0rem;
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.4;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0;
    --shadow-offset-x: 0;
    --shadow-offset-y: 0.125rem;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.20);
    --shadow-xs: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.20);
    --shadow-sm: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.40), 0 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.40), 0 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow-md: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.40), 0 2px 4px -1px hsl(0 0% 0% / 0.40);
    --shadow-lg: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.40), 0 4px 6px -1px hsl(0 0% 0% / 0.40);
    --shadow-xl: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 0.40), 0 8px 10px -1px hsl(0 0% 0% / 0.40);
    --shadow-2xl: 0 0.125rem 0.5rem 0 hsl(0 0% 0% / 1.00);
}

@theme inline {
    --font-sans: sans-serif;
    --font-mono: monospace;
    --font-serif: serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    }
}